body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.first {
    height: 15px;
    background-color: #023B48;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 25px 0 25px;
}
.name {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.name img {
    width: 30px;
    height: 35px;
}
.content nav a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}
.landing {
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px 30px 80px ;
}
.pro {
    color: white;
    margin-left: 200px;
    /* display: flex;
    flex-direction: column; */
}
.pro h1 span {
    color: black;
}
.buy-btn button {
    background-color: white;
    background: #023B48 ;
}
.pro button {
    height: 40px;
    width: 120px;
    margin-top: 40px;
    border: none;
    font-weight: 500;
    background-color: #023B48;
    color: white;
}

.pro button:hover {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.pro h1 {
    font-size: 60px;
    font-weight: 300;
}
.pro h1 span {
    font-weight: 600;
}
.pro small {
    font-size: 16px;
    margin: 25px 0;
}
.list {
    text-align: center;
}
.list li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    list-style: none;
    display: inline-block;
}
#li {
    background-color: #023B48;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}
.about h3 {
    font-size: 36px;
    font-weight: 400;
}
.about h3 span {
    color: aqua;
}
.about p {
    font-size: 16px;
}
.about-img {
    flex-basis: 50%;
    text-align: center;
}
.about-img img {
    height: 500px;
}
.about-txt {
    flex-basis: 50%;
}
.about-txt button {
    height: 38px;
    width: 100px;
    border: none;
    background-color: #023B48;
    color: white;
}